.moving-todo {
  width: clamp(500px, 50%, 800px);
  height: 50px;
  position: absolute;
  left: -300px;
  top: -25px;
  pointer-events: none;
  background-color: white;
  border: 1px solid slategrey;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid slategrey;
    border-radius: 4px;

    &.done {
      background-color: #4075a6;
    }
  }

  .checked {
    text-decoration: line-through;
  }
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0.6;

  .todo-container {
    border: 1px solid slategrey;
    border-radius: 4px;
    width: clamp(500px, 50%, 800px);
    height: 50px;
    background-color: antiquewhite;

    .todo {
      width: 100%;
      height: 100%;
      background-color: white;
      border: 1px solid slategrey;
      border-radius: 4px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      user-select: none;

      .checkbox {
        width: 20px;
        height: 20px;
        border: 1px solid slategrey;
        border-radius: 4px;
        cursor: pointer;

        &.done {
          background-color: #4075a6;
        }
      }

      .todo-text {
        height: 100%;
        width: 100%;
        cursor: grab;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;

          &.checked {
            text-decoration: line-through;
          }
        }
      }

      .remove-button {
        cursor: pointer;
      }
    }
  }
}
